.si_container {
  align-content: center;
  margin: auto;
  align-items: center;
}
.si_center {
  /* position: absolute; */
  margin: auto;
  width: 60%;
}
.si_center-img {
  position: absolute;
  margin: auto;
  margin-left: -4vh;
  width: 65%;
  object-fit: contain;
}
.si_left-img {
  position: absolute;
  margin: auto;
  width: 8.9%;
  object-fit: contain;
  margin-left: 4vw;
  margin-top: 64vh;
}
.si_right-img {
  position: absolute;
  margin: auto;
  width: 10%;
  object-fit: contain;
  margin-left: 85vw;
  margin-top: 87vh;
}
