* {
  margin: 0;
  padding: 0;
}
.title_container {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #fa5652;
}
