.image_icon {
  background-image: url('../../../images//WeDo/Ellipse.png');
  background-size: 3.5vw;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 3.5vw;
  height: 8.5vh;
  margin-top: 16.5vh;

  text-align: center;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  font-size: 2.1vmax;
  line-height: 170%;
  /* or 64px */

  text-transform: capitalize;

  color: #fa5652;
}
