.logo {
  display: flex;
  margin: auto;
}

.logo_image {
  object-fit: cover;
  width: 45px;
}

.logo_title {
  margin: auto 10px;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 0.9rem;
  text-transform: uppercase;

  color: #035755;
}

@media all and (max-width: 600px) {
  .logo_title {
    position: absolute;
    margin-left: 55px;
    margin-top: 12px;
  }
}
