.logo {
  margin-top: 2vh;
  display: flex;
}

.logo_image {
  object-fit: cover;
  width: 3.25vw;
}

.logo_title {
  margin: auto 1vw;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 1vmax;
  text-transform: uppercase;

  color: #035755;
}
