.wc_container {
  margin: auto;
  width: 82vw;
  height: 63vh;
  display: flex;
  margin-top: -5vh;
  /* border: 1px solid black; */
}
.wc_contents1 {
  width: 45vw;
  display: flex;
}
.wc_contents2 {
  width: 40vw;
}

.wc_content2 {
  margin-top: 16.5vh;
  padding-left: 1.2vw;
}
