.wc_container {
  margin: auto;
  width: 78vw;
  height: 63vh;
  display: flex;
  margin-top: -5vh;
}
.wc_contents1 {
  width: 39vw;
  display: flex;
  /* border: 1px solid black; */
}
.wc_contents2 {
  width: 39vw;
}

.wc_content2 {
  margin-top: 17.5vh;
  padding-left: 1.2vw;
}
