* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

li {
  margin: auto;
  list-style-type: none;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: bolder;
  cursor: pointer;
  font-size: 0.9vmax;
}

a {
  color: #212832;
  text-decoration: none;
}

nav {
  padding-top: 3vh;
  position: relative;
  /* border: 1px solid black; */
  display: flex;
  width: 82vw;
  margin: auto;
  justify-content: space-between;
  min-height: 5vh;
  align-items: center;
  margin-bottom: 3vh;
}

.logo {
  margin-top: 2vh;
  display: flex;
}

.logo_image {
  object-fit: cover;
  width: 3.25vw;
}

.logo_title {
  margin: auto 1vw;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 1vmax;
  text-transform: uppercase;

  color: #035755;
}

nav .nav-links {
  display: flex;
  justify-content: space-between;
  width: 42vw;
}

nav .nav-links a:hover {
  color: #df6951;
  padding-bottom: 0.7vh;
  /* border-bottom: 1px solid #df6951; */
  /* border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; */
  /* border-left-width: 1px; */
  border-image: url(https://www.w3schools.com/cssref/border.png) 30 stretch;
}
nav .nav-links a:active {
  color: #df6951;
  border-bottom: 1px solid #df6951;
  content: icon;
}

/* Menu Icon */
nav .burger {
  cursor: pointer;
  font-size: 5vmax;
  display: none;
}

/* Button */
.nav_button {
  background: linear-gradient(360deg, #ffffff -4.58%, #ffffff 102.22%);
  border: 0.2vmax solid #fb4c47;
  box-sizing: border-box;
  border-radius: 46vmax;
  width: 8vw;
  height: 6.5vh;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vmax;
  color: #ff383d;
  /* margin-left: -1vw; */
  margin-right: 2.5vw;
}

.nav_button:hover {
  background: #ff383d;
  color: #ffffff;
  /* border: 0.2vmax solid #ff383d; */
}

/* 
@media all and (max-width: 1200px) {
  .logo_image {
    margin-left: -15px;
    width: 4vw;
    height: 7vh;
  }
  .nav_button {
    margin-left: auto;
    margin-right: auto;
  }
  nav .nav-links {
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
}

@media all and (max-width: 1000px) {
  nav {
    position: relative;
    width: 95%;
  }
  .logo_image {
    width: 4vw;
    height: 7vh;
  }
  nav .nav-links {
    display: flex;
    justify-content: space-between;
    width: 58%;
  }
}

@media all and (max-width: 900px) {
  nav {
    position: relative;
    width: 100%;
  }
  .logo_image {
    margin-left: 14px;
    width: 5.5vw;
    height: 7vh;
  }
  nav .nav-links {
    display: flex;
    justify-content: space-between;
    width: 68%;
  }
}

@media all and (max-width: 700px) {
  nav {
    position: relative;
    width: 100%;
  }
  .logo_image {
    margin-left: 0px;

    width: 8vw;
    height: 7vh;
  }
  nav .logo {
    margin-left: 10px;
  }
  nav .burger {
    margin-right: 10px;
    display: block;
  }
  nav .nav-links {
    margin-top: -7px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background: #ccc;
    background-color: #ccc;

    padding: 40px;
    transform: translateX(-500px);
    transition: 0.5s ease-in-out;
  }
  .nav_button {
    background: #ccc;
  }

  nav .nav-links li {
    padding: 20px;
    border-bottom: 1px solid black;
  }
  nav .nav-links li:last-of-type {
    border-bottom: 0px solid black;
  }
  nav .nav-links a:hover {
    border-bottom: 1px solid black;
  }
} */
