.ac_container {
  margin: auto;
  display: flex;
}

.ac_contents {
  margin-left: -2vw;
  width: 50vw;
  padding-top: 20vh;
}

.ac_content-2 {
  margin-right: auto;
  margin-bottom: 5vh;
}

.ac_image {
  width: 50vw;
}

.maskpath {
  object-fit: cover;
  width: 47vw;
  margin-top: -4vh;
}
.lm_button {
  width: 10.2vw;
  height: 6vh;
  border: none;
  font-weight: 550;
  font-size: 1.01vmax;
  color: #fa5652;
  background: rgba(250, 86, 82, 0.15);
  border-radius: 2vmax;
}
